.login {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #92C7CF;
}

.side-box {
    width: 55%;
    height: 100%;
    flex-direction: column;
}

.main-box {
    min-height: 100%;
    background-color: white;
    padding-right: 16vw;
    padding-left: 16vw;
    box-shadow: -1px 0 5px;
    right: 0;
    position: relative;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    } to {
    transform: translateX(100%);
    }
}

.login-animation {
    transform: translateX(100%);
}

.login-animation.visible {
    animation: slideIn 1s forwards;
}

.login-animation.hidden {
    animation: slideOut 1s forwards; 
}

.to-register-container  {
    align-items: center;
    margin-top: 15vh;
    margin-left: 10vh;
}

.login-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
}

.new-here-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large; /* Make text larger */
    font-weight: bold;
    color: #000000;
}

.to-register-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large; /* Increase the size */
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.h-signin {
    align-self: center;
}

.form-submit {
    margin-top: 10%;
    flex-direction: column;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.label-input {
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.input {
    width : 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #DDDD;
    border: none;
}

.login button:disabled {
    opacity: 50%;
}