
.login {
    display: flex;
    align-items: center;
    height: 100vh;
}

.side-box {
    width: 55%;
    height: 100%;
}

.main-box {
    min-height: 100%;
    background-color: white;
    padding-right: 16vw;
    padding-left: 16vw;
    box-shadow: -1px 0 5px;
    right: 0;
    position: relative;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    } to {
    transform: translateX(100%);
    }
}

.login-animation {
    transform: translateX(100%);
}

.login-animation.visible {
    animation: slideIn 1s forwards;
}

.login-animation.hidden {
    animation: slideOut 1s forwards; 
}

.register-container  {
    padding-top: 15vh;
}

.register-text {
    font-weight: lighter;
    font-size: 300%;
}

.login .register-button {
    background-color: white;
    color: #476A6F;
    border: 2px solid #476A6F;
    width: 15%;
    margin-top: 0;
}

.login-container {
    text-align: center;
    margin-top: 30vh;
}

.h-signin {
    align-self: center;
}

.form-submit {
    margin-top: 10%;
    flex-direction: column;
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

.label-input {
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.input {
    width : 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #DDDD;
    border: none;
}

 .login button{
    margin-top: 10%;
    border: none;
    width: 50%;
    padding: 15px;
    background-color: #476A6F;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login button:hover {
    filter: brightness(85%);
}

.login button:disabled {
    opacity: 50%;
}