.buttonSecondary{
    display: flex;  /* Flexbox for alignment */
    flex: 1 0 0;
    flex-shrink: 0;
    align-items: center;  /* Center items vertically */
    justify-content: center;  /* Center items horizontally */
    align-self: stretch;
    text-align: center;
    font-family: inherit;
    font-size: large;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.2px;
    background-color: white;
    line-height: 142.857%;
    color: #476a6f;
    border: none;
    padding: 15px;
    border-radius: 20px;
    gap: 0.5px;
    cursor: pointer;
    border: 2px solid #476a6f;
}

.buttonSecondary:hover{
    background-color: #476a6f;
    color: #FFF;
    cursor: pointer; 
}

.buttonSecondary:active{
    background-color: #283c40;
    color: white;
    transition: 0.05s;
}

.button-icon {
    margin-right: 8px;  
    display: flex;
    align-items: center;
}