.trip-details{
    padding: 50px;
}

.box-container{
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}
.title{
    width: 80%; 
    display: flex; 
    align-items: center;
    text-align: left;  
    padding-top: 10px; 
    gap: 20px;
}

.title-container {
    box-sizing: border-box;
    text-align: left;
}

.button-container{
    padding-bottom: 50px;
    padding-top: 20px;
}

.description{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.edit-button {
	width: 20px;
	height: 20px;
    cursor: pointer;
}

.dates{
    margin:0;
    padding-bottom: 30px;
}

.delete-icon{
    position: absolute;
    right: 100px; 
    transform: translateY(-50%); 
    cursor: pointer; 
}