.editTripForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.editTripTitle, .editTripInputBoxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.editTripDescriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;
}

.editTripDescriptionContainer label {
    margin-bottom: 5px;
    color: #476a6f;
    font-weight: bold;
}

.text-description {
  font-family: inherit;
  border-radius: 10px;
  border: 0.5px solid #eae9e9;
  background: rgba(221, 221, 221, 0.60); 
  height: 80%;
  padding-left: 8px;
  flex-shrink: 0;
}

.editTripButtonContainer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 32px;
    padding-bottom: 5%;
}

/* Media query for tablets and small desktops */
@media (max-width: 1024px) {
    .editTripForm {
        gap: 40px; 
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .formContainer {
        grid-template-columns: 1fr; /* Stack columns on top of each other */
        gap: 20px; 
    }

    .cardImgUpload {
        margin-bottom: 20px; 
    }
}

/* Media query for very small devices */
@media (max-width: 480px) {
    .formContainer, .cardImgUpload {
        padding: 0 10px; 
    }

    .formContainer {
        gap: 10px; 
    }
}
