.editTripForm , .editTripTitle {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.editTripFormContainer {
    display: flex;
    flex-direction: row;
    /* gap: 10px; Adjust the gap between the columns as needed */
    /* width: 100%;
    max-width: 800px; Adjust the max width as needed*/
} 

.editTripInputColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.editTripTextAreaContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.editTripTextAreaContainer label {
    margin-bottom: 5px;
    color: #476a6f;
    font-weight: bold;
}

.editTripTextDescription {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(244, 241, 241);
    border-radius: 8px;
    border: 2px solid #476a6f;
}

.editTripButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 32px;
    padding-bottom: 150px;
}
