.editTripForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.editTripTitle, .editTripInputBoxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.editTripContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.editTripDescriptionContainer {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.editTripDescriptionContainer label {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #476a6f;
    font-weight: bold;
}

.addImg {
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 0; 
    padding: 0; 
}

.addImg .editPhotosTag {
    margin: 0; 
    line-height: 1; 
}

.addImg > * {
    margin: 0; 
    padding: 0; 
}

.text-description {
  font-family: inherit;
  border-radius: 10px;
  border: 0.5px solid #eae9e9;
  background: rgba(221, 221, 221, 0.60); 
  height: 80%;
  padding-left: 8px;
  flex-shrink: 0;
}

.editTripButtonContainer {
    display: flex;
    justify-content: center;
    padding: 32px;
    padding-bottom: 5%;
    gap: 800px; 
}

@media (max-width: 768px) {
    .editTripButtonContainer {
        gap: 24px;
    }
    .editTripContent {
        flex-direction: column; 
        gap: 20px;
    }

    .editTripDescriptionContainer, .addImg {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .editTripButtonContainer {
        gap: 10px; 
    }
}

.editTripTitle{
    color: #476a6f;
    font-weight: bold;
    font-size: 30px;
}