.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #476a6f;
    width: 25%;
    margin: 10px;
    padding: 10px;
}

.card > img {
    width: 100%;
    border-radius: 20px;
}


  .card h1,
  .card h2,
  .card h3,
  .card p {
    text-align: left;
    margin: 10px 0;   
  }
  