.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards horizontally */
    gap: 20px; /* Add spacing between cards */
    padding: 20px;
}

.filters-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px;
    height: 50px; 
}
.country-filter{
    width: 200px;
}
.city-filter{
    width: 200px;
}
.date-picker-container {
    display: flex;
    align-items: center; 
    gap: 10px;
}

/* Style for the placeholder text */
.date-picker::placeholder {
    font-size: 0.875rem; /* Adjust this size to change the placeholder font size */
}

/* CSS for responsive design */
@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
        align-items: flex-start;
        height: auto; /* Adjust height for smaller screens */
    }

    .country-filter,
    .city-filter,
    .date-picker-container {
        width: 100%; /* Make filters full width on small screens */
        margin-bottom: 10px;
    }

    .card-container {
        justify-content: center; /* Center cards on small screens */
    }

    .card {
        width: 90%; /* Make cards take up more space on small screens */
    }
}
